
<nav class="navbar">
    <img class="logo_preto" src="../../../../../assets/images/scout preto.jpg">
      <div class="nav-item ">
        <a class="nav-label" href="#">Acessibilidades</a>
      </div>
      <div class="nav-item">
        <a class="nav-label" href="#">Assinaturas </a>
      </div>
</nav>
<img src="../../../../assets/images/background.jpg" id="fundinho" alt="">

<div class="cards">

  <div class="menu-lateral">

<div class="botoes">
  <img
  src="../../../../../../assets/images/jorge mascote.jpg"
  class="mascote"
/>
    <button class="btns">Amizades</button>
    <button class="btns">Mensagens</button>
    <button class="btns">Propostas</button>
    <button class="btns" (click)="criarPost()">Criar Posts</button>
  </div>
  </div>
  <div class="mostrar-post">
    <p class="textarea">Melhor academia da região!!!</p>
  
  <img
    src="../../../../../assets/images/academia"
    class="upload_img"
  />
  </div>
</div>
